body {
  min-height: 100vh;
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #e5e5e5;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App {
  color: rgb(17, 17, 17);
  max-width: 740px;
  background-color: rgb(255, 255, 255);
  box-shadow: rgba(118, 143, 255, 0.1) 0px 16px 24px 0px;
  padding: 40px;
  margin: 65px auto 45px;
  border-radius: 4.5px;
}

.format-toolbar {
  display: flex;
  border-bottom: solid 1.7px rgba(199, 198, 255, 0.15);
  padding: 10px 0;
  margin: 0 0 10px 0;
}

.tooltip-icon-button {
  border: 1px solid #000;
  border-radius: 2px;
  padding: 10px 12px;
  margin-right: -1px;
  cursor: pointer;
  background: none;
}

.quote-element {
  padding-left: 20px;
  border-left: 5px solid #b491c8;
  background: #eaeaea;
  max-width: 740px;
  display: flex;
  align-items: center;
}

.quotation svg {
  width: 40px;
  height: 40px;
  fill: #b491c8;
}

q {
  display: block;
  padding: 20px;
}

q * {
  font-style: italic;
}